// ПЕРЕМЕННЫЕ:
$fontFamilyMain: "Helvetica Neue", Arial, Helvetica, sans-serif; // основное семейство шрифта
$fontStyleMain: normal; // основной стиль шрифта
$fontWeightMain: normal; // основная жирность шрифта
$fontSizeMain: 16px; // основной размер шрифта
$lineHeightMain: 1.5; // основная высота между текстом
$fontColorMain: #000000; // основной цвет шрифта

$placeholderColorMain: #232323; // основной цвет подсказки (при наведении или в input)

$borderColorMain: #E26F6F; // основной цвет бордера

$backgroundColorMain: #FFFFFF; // основной цвет фона

$maxWidthContentNumber: 1920; // максимальная ширина только контента (это не ширина макета)
$maxWidthContentPX: 1920px; // максимальная ширина только контента (это не ширина макета)

$minWidthContentNumber: 320; // минимальная ширина контента
$minWidthContentPX: 320px; // минимальная ширина контента

// ДОПОЛНИТЕЛЬНЫЕ ПЕРЕМЕННЫЕ ДЛЯ ЭТОГО ПРОЕКТА:
// $breakpointHeaderMenu: 767.98px;

